* {
    box-sizing: border-box
}

body {
    background-color: lightblue;
}

.front, .back {
        width: 300px;
        height: 200px;
        background: white;
        color: darkgray;
        margin: 1rem;
        border-radius: 5px;
        box-shadow: .1rem .1rem .1rem gray;
        display: flex;
        padding: 1rem;
}

.front {
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.back {
    font-size: 1rem;
    text-align: left;
}

.notecards {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}